{% extends 'base.html' %}

{% block header %}
  {% block title %}Music Library | {{ title }}{% endblock %}
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tables.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sidebar.css') }}">
{% endblock %}

{% block content %}
<div id="sidebar">
    <table id="playlists">
        {%- for playlist in playlists %}
            <tr>
                <td onclick="window.location.href='{{ url_for('browse_playlist', playlist=playlist[1]) }}';">{{ playlist[0] }}</td>
            </tr>
        {%- endfor %}
        <tr><td>Add Playlist</td></tr>
    </table>
</div>

<div id="main">
<h1 id="title">{{ title }}</h1>
<h2 id="subtitle">{{ subtitle}}</h2>
<table id="results">
<thead>
    <th>#</th>
    <th>Album</th>
</thead>

<tbody>
{%- for row in rows %}
    <tr>
        <td>{{ row[0] }}</td>
        <td><a href="{{ url_for('browse_album', artist=row[2], album=row[3]) }}">{{ row[1] }}</a></td>
    </tr>
{%- endfor %}
</tbody>
</table>
</div>
{% endblock %}